#classification-banner-top {
    border:0;
    display: table;
    font-size: 15px;
    height: 10px;
    left:0;
    position:fixed;
    right:0;
    text-align: center;
    top:0;
    margin:0;
    width: 100%;
    z-index: 1031;
}

.classification-banner-text{
    display: table-cell;
    vertical-align: middle;
}
